/* Structure */
.lince-input {
	position: relative;
	width: 100%;
}
.lince-input label {
	display: block;
    margin: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 10px;
}
/* Input Fields Style */
textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
	outline: none;
	border: 1px solid #DADADA;
	resize: none;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 12px;
	transition: 0.2s;
	margin-bottom: 10px;
	background: white;
	color: #001E30;
	font-family: 'Montserrat-Light';
	border-radius: 5px;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
	box-shadow: none;
}

/* Select */
.select {
	cursor: pointer;
	position: relative;
	background: white;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}
.select span:after {
	content:"";
	display: block;
	float: right;
}
.select ul {
	transition: 0.5s;
	position: absolute;
	opacity: 0;
	margin: 0;
	padding: 0;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: white;
	box-shadow: 0 3px 10px rgba(0,0,0,.1),0 3px 5px rgba(0,0,0,.1);
}
.select ul li {
	transition: 0.5s;
	list-style: none;
	padding: 10px;
}
.select ul li.checked {
	background: #333;
	color: white;
}
.select ul li:hover {
	background: #b4b4c4;
}
.select.open ul {
	opacity: 1;
	z-index: 10;
	height: auto;
}

/* Input File */
.lince-input .label-file {
	background: #b4b4c4;
	padding: 10px;
	cursor: pointer;
	width: 20%;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
}
input[type="text"].file-archive {
	width: 80%;
}

/* Error Warning */
label.error {
	position: absolute;
	right: 11px;
	bottom: 20px;
	font-weight: normal;
	color: red;
}
label.errorCaptcha{
	position: absolute;
	right: 38px;
	bottom: 18px;
	font-size: 10px;
	color: red;
}
label.errorCaptcha span{
	font-size: 9px;
}

/* Submit Button */
/*input[type="submit"] {
	width: 100%;
	outline: none;
	cursor: pointer;
	border: none;
	background: #810269;
	color: white;
	padding: 10px;
	font-size: 12px;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-transform: uppercase;
}
input[type="submit"]:hover{
	background: #381d5a;
}*/

/* Custom Placeholder */
::-webkit-input-placeholder {
	color: #001E30;
	font-size: 12px;
}
:-ms-input-placeholder {
	color: #001E30;
	font-size: 12px;
}
::-moz-placeholder {
	color: #001E30;
	font-size: 12px;
}

/* Anti-Spam */
.url-form {
	display: none !important;
}
.erroCaptcha label.error{
	margin-bottom: -57px !important;
    left: 225px;
    font-size: 10px;
}
.input-captcha{
	width: 200px !important;
	margin-left: 3%;
	float: left;
}
@media (max-width: 1024px) {
	.input-captcha {
	    width: 65% !important;
	}
}
@media (max-width: 768px) {
	.input-captcha {
	    width: 79% !important;
	}
	textarea{
		height: 50px;
	}
	.erroCaptcha label.error {
	    right: 20px;
	    left: inherit;
	}
}
@media (max-width: 480px) {
	.input-captcha {
	    width: 53% !important;
	}
	.erroCaptcha label.error {
	    margin-bottom: -61px !important;
	    font-size: 10px;
	    left: 145px;
	    width: 80px;
	}
}