@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf')  format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font: 'Montserrat-Regular';
$font-light: 'Montserrat-Light';
$font-bold: 'Montserrat-Bold';

$azul: #001E30;
$verde: #88D100;
$verde-escuro: #007E6F;
$cinza: #959595;
$cinza-escuro: #4A4A4A;

html,body{
	// height: 100%;
}
body{
	font-family: $font;

	&.scroll{
	    overflow: hidden;
	  }
}
::-moz-selection{
	color:white;
	background:$verde-escuro;
}

::selection{
	color:white;
	background:$verde-escuro;
}
ul{
	padding: 0;
	margin: 0;

	li{
		list-style: none;
	}
}
a{
	transition:all .35s;
}
a:hover,a:focus{
	text-decoration:none;
	outline:none;
}
*:focus{
	outline: none;
	box-shadow: none;
}
.logo {
  -webkit-perspective: 250px;
  perspective: 250px;
  display: inline-block;

  span {
    display: inline-block; 
  }
}
.foto1 {
	margin-bottom:20px;

	p{
		line-height: 20px;
		margin-top: 10px;
	}

	img{
		width:100%;
	}
}
.foto2{
	margin-right:20px;
	margin-bottom:20px;
	width:49%;
	float:left;

	p{
		line-height: 20px;
		margin-top: 10px;
	}

	img{
		width: 100%;
	}
}
.foto3{
	margin-left:20px;
	margin-bottom:20px;
	width:49%;
	float:right;
	p{
		line-height: 20px;
		margin-top: 10px;
	}

	img{
		width: 100%;
	}
}
nav{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 555;
	left: 0;
	background: white;
	padding: 18px 0;
	border-bottom: 2px solid $verde;

	&+header, &+section{
		margin-top: 76px;
	}

	.container{
		position: relative;
	}

	.menu{
		text-align: right;

		ul{
			li{
				display: inline-block;

				a{
					display: inline-block;
					position: relative;
					color: $cinza-escuro;
					text-transform: uppercase;
					font-size: 12px;
					padding: 10px 5px;

					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						background: $verde;
						width: 0;
						height: 2px;
						transition: all .35s;
					}

					&:hover, &.active{
						&:after{
							width: calc(100% - 10px);
						}
					}
				}
			}
		}
	}

	.social{
		position: absolute;
		background: $verde;
		padding: 10px 20px 10px 10px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		display: flex;
		align-items: center;
		bottom: -68px;
		right: 15px;

		a{
			font-size: 20px;
			color: white;
			display: inline-block;
			margin-left: 10px;

			&:hover{
				color: $azul;
			}

			&.whatsapp{
				display: flex;
				padding-left: 10px;
				border-left: 1px solid white;

				i{
					margin-right: 5px;
				}

				span{
					font-size: 10px;
					font-family: $font-light;
					line-height: 1;

					b{
						font-size: 12px;
						font-family: $font;
					}
				}
			}
		}
	}

	&.internas{
		.social{
			border-radius: 0;
		}
	}
}
header{
	position: relative;

	.item{
		background-size: cover !important;
		height: 500px;
		display: block;
	}

	.setasHeader{
		position: absolute;
		bottom: 80px;
		left: 0;
		width: 100%;
		z-index: 2;

		.conteudo{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.info{
			color: white;
			font-size: 30px;
			margin-right: 10px;

			span{
				font-size: 20px;
				margin-left: 5px;
			}
		}

		.setas{
			padding-left: 10px;
			border-left: 1px solid white;
			display: flex;

			div{
				width: 25px;
				height: 25px;
				background: white;
				border-radius: 50%;
				margin-left: 3px;
				text-align: center;
				line-height: 25px;
				transition: all .35s;

				i{
					color: $verde;
				}

				svg{
					#Home{
						fill: $verde;
						transition: all .35s;
					}
				}

				&:hover{
					background: $verde;

					i{
						color: white;
					}

					svg{
						#Home{
							fill: white !important;
						}
					}
				}
			}

		}
	}

	&.internas{
		background: $azul;
		padding: 20px 0 16px 0;

		.breadcrumb{
			margin-bottom: 0;
			background: 0;
			padding: 0;

			.breadcrumb-item+.breadcrumb-item::before{
				content: "\f111";
				font-weight: 900;
				font-family: 'Font Awesome 5 Free';
				color: $verde;
				font-size: 5px;
				position: relative;
				top: -2px;
			}

			.breadcrumb-item{
				font-size: 10px;
				color: white;
				text-transform: uppercase;

				a{
					color: white;

					&:hover{
						color: $verde;
					}
				}

				&.active{
					color: $verde;
				}
			}
		}
	}
}
section{
	padding-top: 70px;
}
.calculo{
	padding: 0;
	margin-top: -50px;
	position: relative;
	z-index: 22;

	.bg{
		background: $verde;
		border-radius: 10px;
		padding: 15px 30px;
		display: flex;

		.refazer{
			display: none;
			align-self: center;
		}

		.resultado{
			// flex: 1;
			align-self: center;

			span{
				color: white;
				font-size: 20px;
				text-transform: uppercase;
			}
		}

		.form{
			flex: 1;
			display: flex;
			align-items: center;

			input{
				flex: 1;
				margin: 0 10px;
				background: white;
				border: none;
				padding: 10px;
				color: $cinza;
				font-size: 12px;
				border-radius: 5px;
			}

			::-webkit-input-placeholder {
			  color: $cinza;
			  text-transform: inherit;
			}
			::-moz-placeholder {
			  color: $cinza;
			  text-transform: inherit;
			}
			:-ms-input-placeholder {
			  color: $cinza;
			  text-transform: inherit;
			}
			:-moz-placeholder {
			  color: $cinza;
			  text-transform: inherit;
			}
			button{
				flex: 1;
				margin: 0 10px;
			}

			#resultado{
				display: none;
			}
		}
	}

	.tituloDestaque{
		margin-bottom: 0;
		padding-right: 50px;
		
		h1,h2{
			font-size: 25px;

			span{
				font-size: 35px;
			}
		}
	}
}
.tituloDestaque{
	margin-bottom: 10px;

	h1,h2{
		color: white;
		font-size: 20px;
		margin: 0;

		span{
			font-size: 25px;
			font-family: $font-bold;
		}
	}
}
.btBox{
	display: inline-block;
	background: $verde;
	color: white;
	font-size: 14px;
	padding: 9px 25px;
	border-radius: 5px;
	transition: all .35s;
	border: none;
	cursor: pointer;


	&.azul{
		background: $azul;
	}
	
	&:hover{
		background: $verde-escuro;
		color: white;
	}
}
.btAro{
	display: inline-block;
	color: $cinza;
	border: 1px solid $cinza;
	font-size: 14px;
	padding: 9px 25px;
	border-radius: 5px;
	transition: all .35s;
	cursor: pointer;
	
	&:hover{
		background: $verde;
		color: white;
		border-color: $verde;
	}
}
.titulo{
	margin-bottom: 30px;

	h1,h2{
		color: $azul;
		font-size: 20px;
		font-family: $font-bold;
		text-transform: uppercase;
	}
}
.mt50{
	margin-top: 50px;
}
.conteudo{
	h3{
		color: $azul;
		margin: 30px 0 10px 0;
		font-size: 16px;
		text-transform: uppercase;

		&.mt0{
			margin-top: 0;
		}
	}
	p{
		font-size: 15px;
		font-family: $font-light;
		line-height: 30px;
		margin-bottom: 20px;
		color: $azul;
	}

	ul{
		padding-left: 20px;

		li{
			color: $cinza;
			font-size: 14px;
			margin-bottom: 20px;
			position: relative;

			&:before{
				content: "\f058";
				font-weight: 900;
				font-family: 'Font Awesome 5 Free';
				position: absolute;
				left: -20px;
				top: 0;
				color: $verde;
			}
		}
	}
}
.formAgendamento{
	background: $azul;
	border-radius: 10px;
	padding: 30px;
	text-align: center;

	p{
		color: white;
		font-size: 12px;
		margin: 0;
	}

	input{
		background: white;
		border: none;
		padding: 10px;
		color: $cinza;
		font-size: 12px;
		border-radius: 5px;
	}

	::-webkit-input-placeholder {
	  color: $cinza;
	  text-transform: capitalize;
	}
	::-moz-placeholder {
	  color: $cinza;
	  text-transform: capitalize;
	}
	:-ms-input-placeholder {
	  color: $cinza;
	  text-transform: capitalize;
	}
	:-moz-placeholder {
	  color: $cinza;
	  text-transform: capitalize;
	}
	a{
		width: 100%;
		margin: 10px 0;
	}

	.select{
		color: $cinza;
		font-size: 12px;
		height: 38px;
		border: none;
		margin-bottom: 10px;
	}
}
.imgGastru{
	img{
		margin-top: 40px;
	}
}
.gastrus{
	background: #FAF8FB;
	margin-top: -52px;
	padding-top: 122px;

	p{
		color: $azul;
	}
}
.owl-videos{
	.owl-nav{
		position: absolute;
		right: 0;
		top: -60px;
	}

	.item{
		height: 265px;
		background-size: cover !important;
		position: relative;
		display: block;

		.hover{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			color: red;
			align-items: center;
			font-size: 40px;
			justify-content: center;
			background: rgba(0,0,0,0);
			transition: all .35s;

			&:before{
				content: "";
				width: 20px;
				height: 20px;
				background: white;
				position: absolute;
				z-index: 1;
			}

			i{
				position: relative;
				z-index: 2;
			}
		}

		&:hover{
			.hover{
				background: rgba(0,0,0,.7);
			}
		}
	}

	.owl-next{
		width: 25px !important;
		height: 25px !important;;
		background: $verde !important;;
		border-radius: 50% !important;;
		margin-left: 3px !important;;
		text-align: center !important;;
		line-height: 19px!important;;
		transition: all .35s!important;;

		svg{
			#Home{
				fill: white;
				transition: all .35s;
			}
		}

		&:hover{
			background: $verde-escuro !important;;
		}
	}

	.owl-prev{
		width: 25px !important;
		height: 25px !important;;
		background: $verde !important;;
		border-radius: 50% !important;;
		margin-left: 3px !important;;
		text-align: center !important;;
		line-height: 19px!important;;
		transition: all .35s!important;;

		svg{
			#Home{
				fill: white;
				transition: all .35s;
			}
		}

		&:hover{
			background: $verde-escuro !important;;
		}
	}
}
footer{
	margin-top: 70px;
	background: $azul;
	padding-top: 50px;

	p{
		color: white;
		font-size: 14px;
		line-height: 30px;
		margin-bottom: 0;
	}

	.social{
		text-align: right;

		a{
			color: $verde;
			font-size: 20px;
			margin-left: 10px;
			display: inline-block;

			&:hover{
				color: $verde-escuro;
			}
		}
	}

	.apoio{
		margin-top: 40px;
		border-top: 1px solid rgba(255,255,255,.2);
		padding: 20px 0;

		.copyright{
			color: white;
			font-size: 12px;
		}

		.marcaAlfama{
			text-align: right;
		}
	}
}
.itemEquipe{
	margin-bottom: 30px;

	.bg{
		height: 340px;
		background-size: cover !important;
		margin-bottom: 15px;
	}

	.info{
		text-align: center;

		h3{
			color: $azul;
			font-size: 20px;
			font-family: $font-bold;
			margin: 0;
		}

		span{
			color: $verde;
			font-size: 15px;
			display: block;
			margin: 5px 0;
		}

		p{
			color: $cinza;
			font-size: 14px;
			margin-bottom: 10px;
			font-family: $font-light;
		}
	}
}
.modal-header{
	background: $azul;

	.info{
		text-align: center;
		flex: 1;

		h3{
			color: white;
			font-size: 20px;
			font-family: $font-bold;
			margin: 0;
		}

		span{
			color: $verde;
			font-size: 15px;
			display: block;
			margin: 5px 0;
		}

		p{
			color: white;
			font-size: 14px;
			margin-bottom: 10px;
			font-family: $font-light;
		}
	}
}
.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: none;
    opacity: 1;

    &:hover{
    	color: white;
    }
}
.wrap{
	min-height: calc(100vh - 412px);
}
.itemAccordion{
	margin-bottom: 20px;
 
  .btAccordion{
  	padding: 10px;
  	border-radius: 5px;
  	background: $verde;
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;

    i{
      float: right;
      font-size: 20px;
    }

    &.collapsed{
    	background: $azul;
    }
  }

  .bodyAccordion{
    .content{
      margin-top: 15px;
      border-bottom: 1px solid #DBDBDB;
    }
  }
}
.listaConvenios{
	display: flex;
	flex-wrap: wrap;

	li{
		margin-bottom: 30px;
		height: 150px;
		width: 150px;
		background-size: contain !important;
		flex: 1 1 18%;
		margin: 8px;
	}
}
.g-recaptcha>div{
	margin: 0 auto 15px;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: $azul;
    margin: 6px 0;
    transition: 0.4s;
}
.change{
  top: 10px!important;

  .bar1, .bar2, .bar3 {
    background: white;
  }
}
.change p{
    color: white;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px) ;
    transform: rotate(45deg) translate(-7px, -8px) ;
}
.btMenuXs{
    position: fixed;
    right: 20px;
    top: 28px;
    cursor: pointer;
    z-index: 557;
    transition: all .35s;

    &.scroll{
      top: 16px;

      .bar1, .bar2, .bar3{
        background: $azul;
      }
    }
}
.btMenuXs.down{
  top: 18px;
}
.btMenuXs.up{
    left: 20px;
}
.btMenuXs .barras{
    float: left;
}
.btMenuXs p{
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    font-weight: 700;
    transition: all .35s;
}
.overlay {
    height: 100%;
    width:  100%;
    position: fixed;
    z-index: 556;
    top: 0;
    right: 0;
    background: $azul;
    overflow-y: scroll;
    transition: .3s;

    .marca{
      margin-bottom: 50px;
      border-bottom: 1px solid #fff;
      padding-bottom: 20px;
      padding-left: 65px;
      position: fixed;
      background: black;
      border-bottom: 4px solid $azul;
      width: 100%;
      z-index: 5;
      padding-top: 15px;
    }

    .itensMenu{
      margin-top: 50px;
    }
}
.overlay-content {
  position: absolute;
  top: 0;
  width: 100%;
}
.overlay-content ul li{
  position: relative;
}

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: 0.3s;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    margin-left: 20px;
    padding-right: 50px;
    display: block;
    text-align: right;

    i{
      font-size: 20px;
      margin-right: 10px;
    }

    &.active{
      color: $azul;
    }
}
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}
#menuXs{
  top: -100%;
}
#menuXs.up{
  top: 0;
}
.itemImagem{
	margin-bottom: 30px;

	.bg{
		height: 300px;
		background-size: cover !important;
	}

	.legenda{
		font-size: 12px;
		text-align: center;
		color: $cinza;
		margin-top: 10px;
	}
}
.itemDepoimento{
	.borda{
		border: 1px solid #ccc;
		border-radius: 15px;
		padding: 20px;
		transition: all .35s;

		p{
			color: $cinza;
			position: relative;
			font-size: 14px;
			text-align: center;

			b{
				font-family: $font-bold;
				color: $verde-escuro;
			}

			.fa-quote-left{
				position: relative;
				left: 1px;
				top: -7px;
				font-size: 10px;
			}
			.fa-quote-right{
				position: relative;
				right: -1px;
    			bottom: -4px;
				font-size: 10px;
			}
		}

		span{
			display: block;
			text-align: center;
			font-size: 12px;
			text-transform: uppercase;
			color: $verde;
			transition: all .35s;
		}
	}

	&:hover{
		.borda{
			border-color: $verde-escuro;
		}

		span{
			color: $verde-escuro;
		}

	}

	
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
	nav .menu ul li a {
	    font-size: 11px;
	    padding: 10px 3px;
	}
	nav+header, nav+section {
	    margin-top: 72px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
	.calculo .bg {
	    flex-direction: column;
	}
	.calculo{
		.tituloDestaque{
			text-align: center;
			margin-bottom: 20px;

			br{
				display: none;
			}

			h2{
				span{
					font-size: 25px;
					margin-left: 5px;
				}
			}

		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .foto2{
    margin-right:0;
    margin-bottom:20px;
    width:100%;
    float:none;
  }
  .foto3{
    margin-right:0;
    margin-bottom:20px;
    width:100%;
    float:none;
  }
  	.g-recaptcha>div{
		margin: 0 auto 15px;
	}
	.calculo .bg {
	    flex-direction: column;
	}
	.calculo{
		.tituloDestaque{
			text-align: center;
			margin-bottom: 20px;

			br{
				display: none;
			}

			h2{
				span{
					font-size: 25px;
					margin-left: 5px;
				}
			}

		}
	}
	.calculo .bg .form {
	    align-items: inherit;
	    flex-direction: column;

	    input{
	    	margin-bottom: 10px;
	    }
	}
	.formAgendamento {
	    margin-top: 50px;
	}
	footer{
		text-align: center;
	}
	footer .social {
	    text-align: center;
	    margin-top: 20px;
	}
	footer .apoio .marcaAlfama {
	    text-align: center;
	    margin-top: 20px;
	}
	.itemEquipe .bg {
	    height: 460px;
	}
	header .item{
		background-position: 20% center !important;
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .foto2{
    margin-right:0;
    margin-bottom:20px;
    width:100%;
    float:none;
  }
  .foto3{
    margin-right:0;
    margin-bottom:20px;
    width:100%;
    float:none;
  }
  	.g-recaptcha>div{
		margin: 0 auto 15px;
	}
	.calculo .bg {
	    flex-direction: column;
	}
	.calculo{
		.tituloDestaque{
			text-align: center;
			margin-bottom: 20px;

			br{
				display: none;
			}

			h2{
				span{
					font-size: 25px;
					margin-left: 5px;
				}
			}

		}
	}
	.calculo .bg .form {
	    align-items: inherit;
	    flex-direction: column;

	    input{
	    	margin-bottom: 10px;
	    }
	}
	.formAgendamento {
	    margin-top: 50px;
	}
	footer{
		text-align: center;
	}
	footer .social {
	    text-align: center;
	    margin-top: 20px;
	}
	footer .apoio .marcaAlfama {
	    text-align: center;
	    margin-top: 20px;
	}
	.listaConvenios li {
	    flex: 1 1 33%;
	}
	.itemEquipe .bg {
	    height: 460px;
	}
	header .item{
		background-position: 30% center !important;
	}
}

















